* {
    box-sizing: border-box;
    font-family: sans-serif
}

.container {
    width: 100%;
    padding: 5% 10%;
    height: 100%;
}

.facilities {
    position: relative;
    width: 100%;
    height: auto;
    background: url('assets/fac-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

}

.head-title {
    position: absolute;
    left: 50%;
    top: 2%;
    margin-left: -10%;
    text-align: center;
    color: #fff;
    font-size: 20px
}

.head-title h2 {
    margin: 0;
}

.fac-desc {
    position: absolute;
    left: 50%;
    bottom: 2%;
    text-align: center;
    color: #fff;
}

.facs {
    height: auto;
    flex: 1 0 auto;
    display: flex;

    justify-content: space-around;
    align-items: center;
}


#first-facs {
    background: rgba(177, 139, 17, 0.29);
}

#second-facs {
    background: rgba(28, 50, 58, 0.53);
}

#third-facs {
    background: rgba(56, 2, 14, 0.66);
}

.fac {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}


@media screen and (min-width: 320px) {
    .facilities {
        flex-direction: column;
    }

    .fac-desc {
        width: 90%;
        margin-left: -45%;
    }

    .facs {
        width: 100%;
        padding: 30% 5%;
        flex-direction: row;
    }

    .fac {
        width: 50%;
        height: 100%;
        padding: 5%;
        flex-direction: column;
    }

    .fac:nth-child(odd) {
        border-right: solid 2px #fff;

    }

    .fac-svg {
        width: 60px;
        height: 60px;
    }

}

@media screen and (min-width: 768px) {
    .facilities {
        flex-direction: row;
    }

    .fac-desc {
        width: 50%;
        margin-left: -25%;
        font-size: 18px
    }

    .facs {
        width: 33%;
        padding: 10 5%;
        flex-direction: column;
    }

    .fac {
        width: 100%;
        height: 50%;
    }

    .fac:nth-child(odd) {
        border: transparent;
        border-bottom: solid 2px #fff;

    }

    .fac-svg {
        width: 90px;
        height: 90px;
    }
}